:root {
  --background-color--background-secondary: var(--base-color-brand--yellow-light);
  --background--background-blue: var(--brand--blue-dark);
  --base-color-brand--purple-dark: #8557ff;
  --base-color-brand--purple: #bea6ff;
  --text-color--text-alternate: var(--base-color-neutral--neutral-lightest);
  --text-color--text-primary: var(--brand--blue-dark);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --background--blue-dark: var(--brand--blue-dark);
  --white: white;
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --base-color-neutral--blue-input: #092449;
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --link-color--link-primary: var(--base-color-brand--purple);
  --background-color--background-tertiary: var(--base-color-brand--purple);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --base-color-brand--blue: #69f2fc;
  --base-color-brand--green-light: #b0e789;
  --base-color-brand--blue-medium: #021631;
  --base-color-brand--color: #18cfdc;
  --base-color-brand--blue-light: #01378d;
  --team-card-title: 1rem;
  --base-color-brand--purple-light: #cfbdff;
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --link-color--link-alternate: var(--base-color-neutral--white);
  --brand--blue-dark: #041b3a;
  --header--padding: 0rem;
  --header--border-radius: 0rem;
  --base-color-neutral--neutral-lightest: #f4feff;
  --base-color-neutral--neutral-darker: #9eacb8;
  --link-color--link-secondary: var(--brand--blue-dark);
  --black: black;
  --base-color-brand--yellow-light: #f7f7f6;
  --base-color-brand--grey-light: #e0e3d3;
  --base-color-neutral--white: #fff;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --background-color--background-success: var(--base-color-system--success-green);
  --border-color--border-secondary: var(--base-color-brand--purple);
}
